.cast-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 15px;

  &::-webkit-scrollbar {
    display: none;
  }

  .cast-poster {
    width: 100%;
    transition: transform 500ms;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      z-index: 1;
    }

    img {
      object-fit: contain;
      max-height: 250px;
      border-radius: 5px;
    }

    h4 {
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 5px;
      margin-top: 2px;
      color: white;
      text-overflow: ellipsis;
    }

    p {
      color: #aeaeae;
      text-overflow: ellipsis;
      font-size: 13px;
    }
  }
}
